
body{
    display:flex;
    flex-direction:column;
    row-gap:70px;
}

#Hcab{
    border: solid 1px;
    display:flex;

    }

#central{
    border:solid 2px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
}



body{
    background-color: #f3e8df;
}

img{
    width:50px;
    height:50px;
    padding-left:15px;
    border:solid 1px #f2ca0b;
}