html{
display:flex;
justify-content:center;
}
body{
    width:700px;
    height:500px;
    background-color:#f3e8df;
}

#Hcab{
    background-color:#d2b399;
}

#central{
    border: solid 2px #d2b399;
    display:flex;
}

#botoeira{
    display:flex;
    flex-direction:column;
}

.button{
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-weight: 400;
    color: rgb(44, 6, 6);
    background-color: antiquewhite;
    justify-content: start;
    padding: 5px;
}