#visualizar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-left:70px;
    padding-right:70px;
    flex-direction: column;
   }

        .boxTarefa{
        
                background-color: #f3e8df;
                gap: 5px;
                border:solid 2px rgb(255, 255, 255);
                border-radius: 7px;
                width:380px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 5px;
                margin-top: 7px;
                
        }

        .boxTitulo{
        
                background-color: #d2b399;
                font-size: 12px;
                font-weight: 400;
                margin: 5px;
                margin-top: 2px;
                padding: 2px;
                display: block;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .boxConteudo{
                font-size: 13px;
                display : block;
                width: 350px;
                margin-left: 18px;
                font-family: 'Times New Roman', Times, serif;
                
        }
        .boxDatas{
                display: block;
                width: 350px;
                font-size: 10px;
                margin-left: 5px;
                margin-bottom: 7px;
                padding-top: 2px;
                border-top: double  1px white;
                 
        }

        .boxPrioridade{
                display: block;
                width: 350px;
                font-size: 10px;
                font-weight: 500;
                margin-left: 5px;
                margin-bottom: 3px;
                padding-top: 2px;
                border-top: double  3px white;
                color: rgb(3, 3, 3); 
        }
        .onConcluida{
                display: block;
                width: 350px;
                font-size: 10px;
                font-weight: 500;
                margin-left: 5px;
                margin-bottom: 7px;
                padding-top: 2px;
                border-top: double  3px white;
                color: green; 
        }

        .onExpirada{
                display: block;
                width: 350px;
                font-size: 10px;
                font-weight: 500;
                margin-left: 5px;
                margin-bottom: 7px;
                padding-top: 2px;
                border-top: double  3px white;
                color: rgb(234, 145, 37); 
        }

        .onAberta{
                display: block;
                width: 350px;
                font-size: 10px;
                font-weight: 500;
                margin-left: 5px;
                margin-bottom: 7px;
                padding-top: 2px;
                border-top: double  3px white;
                color: rgb(103, 97, 10); 
        }

        .boxBotoes{
                margin-left: 5px;
                padding: 5px;
        }

        button{
                border-radius: 5px;
                width: 100px;
                height: 30px;
                font-weight: 400;
                color: rgb(44, 6, 6);
                background-color: antiquewhite;
                justify-content: start;
                padding: 5px;
            }